body{
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;

}
h1{
  font-size: 4rem;
}
p{
  font-size: 2rem;
}
.weather{
  margin-top: 100px;
}
.temp-value{
  color: #5ca0d3;
}
.temp-value:hover{
  color:#51eaea;
}
.temperature:hover{
  cursor: pointer;
}
.icon{
  color: white;
  font-size: 4rem;
}
